* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body nav {
  background-color: rgb(35, 35, 35);
  color: rgb(230, 230, 230);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  padding: 1.5em;
  position: relative;
  opacity: 0;
  animation: on-page-load-fade-in 0.25s ease 0s forwards;
  height: -moz-fit-content;
  height: fit-content;
}
body nav .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: on-page-load-name-clip-in 0.5s cubic-bezier(0.75, 0.06, 0.41, 0.7) 0.75s forwards;
}
body nav .left-section h1 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem !important;
}
body nav .left-section p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: rgb(204, 204, 204);
}
body nav .mid-section {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-self: center;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
  animation: on-page-load-fade-in 0.5s cubic-bezier(1, 0, 0, 1) 0.75s forwards;
}
body nav .mid-section .mobile-menu-btn {
  display: none;
  font-size: 1rem;
  cursor: pointer;
}
body nav .mid-section .nav-dropdown {
  padding: 0.4rem;
  position: relative;
}
body nav .mid-section .nav-dropdown i {
  display: none;
  cursor: pointer;
}
body nav .mid-section .nav-dropdown .nav-dropdown-btn {
  color: rgb(204, 204, 204);
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;
}
body nav .mid-section .nav-dropdown:hover .nav-dropdown-btn {
  color: rgb(241, 241, 241);
}
body nav .mid-section .nav-dropdown:hover .nav-dropdown-contents {
  display: flex;
  flex-direction: column;
}
body nav .mid-section p {
  color: rgb(65, 65, 65);
  text-align: center;
}
body nav .right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: center;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
  animation: on-page-load-fade-in 0.5s cubic-bezier(1, 0, 0, 1) 0.75s forwards;
}
body nav .right-section i {
  color: rgb(204, 204, 204);
  padding: 0 1rem;
  transition: color 0.3s ease;
  font-size: 1.5rem;
  cursor: pointer;
}
body nav .right-section i:hover {
  color: rgb(241, 241, 241);
}
body footer {
  bottom: 0;
  padding-top: 3em;
  padding-bottom: 1em;
}
body footer p {
  color: rgb(170, 170, 170);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  padding: 2px;
  text-align: center;
}

@media (max-width: 1120px) {
  body nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  body nav .left-section p {
    text-align: center;
  }
}
@media (max-width: 820px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  body nav .left-section h1 {
    text-align: center;
  }
  body nav .left-section p {
    text-align: center;
  }
  body nav .mid-section {
    flex-direction: column;
    flex-flow: column nowrap;
    width: 100%;
  }
  body nav .mid-section .nav-dropdown {
    display: none;
  }
  body nav .mid-section .nav-dropdown i {
    display: block;
    padding-top: 0.4rem;
  }
  body nav .mid-section .nav-dropdown-contents {
    width: 100%;
    box-shadow: none;
  }
  body nav .mid-section .mobile-menu-btn {
    display: block;
    border: 1px solid black;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
  }
  body nav .mid-section .mobile-menu-btn.active ~ .nav-dropdown {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  body nav .mid-section .mobile-menu-btn.active ~ .nav-dropdown .fa-minus + .nav-dropdown-contents {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  body nav .mid-section .mobile-menu-btn.active ~ .nav-dropdown .fa-plus + .nav-dropdown-contents {
    position: relative;
    display: none;
  }
  body nav .mid-section p {
    display: none;
  }
  body nav .right-section {
    justify-content: center;
  }
  body nav .right-section i {
    font-size: 1.25rem;
  }
}
@keyframes on-page-load-img {
  from {
    opacity: 0;
    top: 10%;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes on-page-load-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes on-page-load-name-clip-in {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes on-page-load-slide-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes on-page-load-slide-out-from-top {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10%);
  }
}/*# sourceMappingURL=common.css.map */