* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 15, 15);
    //min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    //grid-template-rows: 1fr 5fr 1fr;

    nav {
        background-color: rgb(35, 35, 35);
        color: rgb(230, 230, 230);
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1.25fr 1fr;

        padding: 1.5em;
        position: relative;

        opacity: 0;
        animation: on-page-load-fade-in 0.25s ease 0s forwards;

        height: fit-content;

        .left-section {
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: fit-content;
            align-self: center;

            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            animation: on-page-load-name-clip-in 0.5s cubic-bezier(.75, .06, .41, .7) 0.75s forwards;

            h1 {
                font-family: 'Comfortaa', sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 2rem !important;
            }

            p {
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 400;
                font-size: 0.75rem;
                text-transform: uppercase;
                color: rgb(204, 204, 204);
            }
        }

        .mid-section {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;

            align-self: center;

            height: fit-content;

            opacity: 0;
            animation: on-page-load-fade-in 0.5s cubic-bezier(1, 0, 0, 1) 0.75s forwards;

            .mobile-menu-btn {
                display: none;
                font-size: 1rem;

                cursor: pointer;
            }

            .nav-dropdown {
                padding: 0.4rem;
                position: relative;

                i {
                    display: none;
                    cursor: pointer;
                }

                .nav-dropdown-btn {
                    color: rgb(204, 204, 204);
                    text-decoration: none;
                    transition: color 0.3s ease;

                    text-align: center;
                }

                &:hover {
                    .nav-dropdown-btn {
                        color: rgb(241, 241, 241);
                    }

                    .nav-dropdown-contents {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            p {
                color: rgb(65, 65, 65);
                text-align: center;
            }
        }

        .right-section {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            align-self: center;
            height: fit-content;

            opacity: 0;
            animation: on-page-load-fade-in 0.5s cubic-bezier(1, 0, 0, 1) 0.75s forwards;

            i {
                color: rgb(204, 204, 204);
                padding: 0 1rem;
                transition: color 0.3s ease;

                font-size: 1.5rem;

                cursor: pointer;

                &:hover {
                    color: rgb(241, 241, 241);
                }
            }

        }
    }

    footer {
        bottom: 0;
        padding-top: 3em;
        padding-bottom: 1em;

        p {
            color: rgb(170, 170, 170);

            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
            font-size: 0.75rem;
            padding: 2px;

            text-align: center;
        }
    }
}

@media (max-width: 1120px) {
    body {
        nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .left-section {
                p {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 820px) {
    body {
        display: flex;
        flex-direction: column;

        gap: 2rem;

        nav {
            .left-section {
                h1 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }

            .mid-section {
                flex-direction: column;
                flex-flow: column nowrap;

                width: 100%;

                .nav-dropdown {
                    display: none;

                    i {
                        display: block;
                        padding-top: 0.4rem;
                    }
                }

                .nav-dropdown-contents {
                    width: 100%;
                    box-shadow: none;
                }

                .mobile-menu-btn {
                    display: block;
                    border: 1px solid black;

                    width: 100%;
                    padding: 0.5rem;

                    text-align: center;
                }

                .mobile-menu-btn.active {
                    &~.nav-dropdown {
                        display: block;
                        width: 100%;
                        text-align: center;

                        font-size: 1rem;

                        .fa-minus+.nav-dropdown-contents {
                            position: relative;

                            display: flex;
                            flex-direction: column;
                        }

                        .fa-plus+.nav-dropdown-contents {
                            position: relative;

                            display: none;
                        }
                    }
                }

                p {
                    display: none;
                }
            }

            .right-section {
                justify-content: center;

                i {
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@keyframes on-page-load-img {
    from {
        opacity: 0;
        top: 10%;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes on-page-load-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes on-page-load-name-clip-in {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes on-page-load-slide-in-from-top {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes on-page-load-slide-out-from-top {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10%);
    }
}