.grid-display {
  width: 95%;
  max-height: 10000vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 24rem);
  grid-template-rows: repeat(auto-fit, 13.5rem);
  row-gap: 3rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-self: center;
  justify-content: center;
}

.categoryDisplay {
  padding: 7rem 0;
  display: none;
  opacity: 0;
  animation: on-page-load-fade-in 0.5s ease 0.5s forwards;
}
.categoryDisplay .category {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.categoryDisplay .category img {
  position: absolute;
  height: 100%;
  scale: 1.1;
  transition: scale 0.2s ease;
}
.categoryDisplay .category a {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: end;
  text-transform: uppercase;
  padding: 6rem 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: padding 0.1s ease-in-out, font-size 0.1s ease, background-color 0.75s ease;
}
.categoryDisplay .category:hover img {
  scale: 1;
}
.categoryDisplay .category:hover a {
  padding: 6rem 3rem;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.categoryUnit {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0;
  animation: on-page-load-slide-in-from-top 0.5s ease 0.5s forwards;
}
.categoryUnit .gallery-header i {
  position: absolute;
  color: white;
  left: 0;
  font-size: 1.75rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  cursor: pointer;
}
.categoryUnit .gallery-header h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.categoryUnit .gallery {
  grid-template-columns: repeat(auto-fill, 32rem);
  grid-template-rows: repeat(auto-fit, 18rem);
}
.categoryUnit .gallery .img-container {
  position: relative;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryUnit .gallery .img-container img {
  height: 100%;
  transition: scale 0.1s ease-in-out;
}
.categoryUnit .gallery .img-container .dark-background {
  display: none;
  opacity: 0;
  background-color: black;
  transition: opacity 0.1s ease;
}
.categoryUnit .gallery .img-container:hover img {
  scale: 1.05;
}
.categoryUnit .gallery .img-container.active img {
  position: fixed;
  width: auto;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.75);
  z-index: 2;
}
.categoryUnit .gallery .img-container.active .dark-background {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.75;
  z-index: 1;
}

.categoryUnit.active {
  display: flex;
}

.categoryDisplay.active {
  display: grid;
}

@media (max-width: 1120px) {
  .categoryUnit .gallery-header i {
    padding-left: 15rem;
  }
  .categoryUnit .gallery .img-container.active {
    height: 100vh;
  }
  .categoryUnit .gallery .img-container.active img {
    width: 100vw;
    height: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 820px) {
  .grid-display {
    row-gap: 2rem;
  }
  .categoryUnit .gallery-header i {
    padding-left: 1rem;
  }
  .categoryUnit .gallery {
    grid-template-columns: repeat(auto-fill, 24rem);
    grid-template-rows: repeat(auto-fit, 13.5rem);
  }
}/*# sourceMappingURL=work.css.map */